#chart {
  margin: 35px auto;
  padding: 0;
}

.container {
  min-height: 100vh;
}

.charts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.charts-header {
  padding: 0;
}

@media only screen and (max-width: 1700px) {
  .charts {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .charts-header {
    padding-top: 5rem;
  }
}
