<div class="row mx-0 pt-5">
  <div
    class="editForm col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 p-5"
  >
    <h2 class="pb-5 text-center text-white">Astro Target Editor</h2>
    <form #targetForm="ngForm" (ngSubmit)="onUpdate(target)">
      <div class="form-group">
        <label class="text-white">Catalogue Number</label>
        <input
          name="catno"
          [(ngModel)]="target.catalogueNumber"
          type="text"
          class="form-control bg-secondary text-white border-0"
          pattern="^(M|NGC|IC|Barnard)([1-9]{1})([0-9]{0,3})$"
          required
        />
        <div
          class="error-message"
          *ngIf="
            targetForm.controls['catno']?.invalid &&
            targetForm.controls['catno']?.touched
          "
        >
          The catalogue number of the target must start with either
          'M'/'NGC'/'IC'/'Barnard', have least one and at most four followup
          numbers.
        </div>
      </div>
      <div class="form-group">
        <label class="text-white">Constellation</label>
        <select
          [(ngModel)]="target.constellation"
          required
          class="custom-select form-control bg-secondary text-white border-0"
          name="constellation"
          [value]="target.constellation"
        >
          <option
            *ngFor="let constellation of constellations"
            [value]="constellation"
          >
            {{ constellation }}
          </option>
        </select>
        <div
          class="error-message"
          *ngIf="
            targetForm.controls['constellation']?.invalid &&
            targetForm.controls['constellation']?.touched
          "
        >
          Constellation must be selected.
        </div>
      </div>

      <div class="form-group">
        <label class="text-white">Name</label>
        <input
          name="name"
          [(ngModel)]="target.name"
          type="text"
          class="form-control bg-secondary text-white border-0"
          required
        />
        <div
          class="error-message"
          *ngIf="
            targetForm.controls['name']?.invalid &&
            targetForm.controls['name']?.touched
          "
        >
          Name must be set.
        </div>
      </div>

      <div class="form-group">
        <label class="text-white">Type</label>
        <select
          [(ngModel)]="target.type"
          required
          class="custom-select form-control bg-secondary text-white border-0"
          name="type"
          [value]="target.type"
        >
          <option *ngFor="let type of astroTypes" [value]="type">
            {{ type }}
          </option>
        </select>
        <div
          class="error-message"
          *ngIf="
            targetForm.controls['type']?.invalid &&
            targetForm.controls['type']?.touched
          "
        >
          Type must be selected.
        </div>
      </div>

      <div class="form-group">
        <label class="text-white" for="image">Image link</label>
        <input
          name="image"
          [(ngModel)]="target.image"
          type="text"
          class="form-control bg-secondary text-white border-0"
          required
          [pattern]="imgURLRegExp"
        />
        <div
          class="error-message"
          *ngIf="
            targetForm.controls['image']?.invalid &&
            targetForm.controls['image']?.touched
          "
        >
          Must start with storage url.
        </div>
      </div>

      <div class="form-group">
        <label for="magnitude" class="form-label text-white">Magnitude</label>
        <div class="d-flex justify-content-between">
          <p class="text-white" *ngFor="let number of steps">{{ number }}</p>
        </div>
        <input
          [(ngModel)]="target.magnitude"
          name="magnitude"
          type="range"
          class="custom-range border-0"
          min="0"
          max="20"
          step="0.1"
          id="magnitude"
        />
      </div>

      <div
        class="control d-flex justify-content-center align-items-center mb-3"
      >
        <input
          [(ngModel)]="target.isInMilkyWay"
          name="milkyway"
          type="checkbox"
          class="control-input"
          id="milkyway"
          [checked]="target.isInMilkyWay"
        />
        <label class="control-label text-white ml-2 mb-0" for="milkyway">
          Inside MilkyWay</label
        >
      </div>

      <button
        [disabled]="targetForm.form.invalid"
        type="submit"
        [ngClass]="targetForm.form.invalid ? 'btn-danger' : 'btn-success'"
        class="btn btn-secondary btn-block btn-lg"
      >
        <img
          style="height: 40px"
          [src]="milkywayBadge"
          alt="save astro target"
        />
      </button>
    </form>
  </div>
</div>
