<app-filters
  (typeChange)="typeUpdates($event)"
  (milkywayChkbxChange)="milkywayChkbxUpdates($event)"
  (magnitudeRangeChange)="magnitudeUpdates($event)"
  (keywordChange)="nameUpdates($event)"
  (catalogueChange)="catalogueUpdates($event)"
></app-filters>

<div class="d-flex justify-content-center align-items-center">
  <button
    [routerLink]="['/admin/0']"
    class="btn btn-dark d-flex justify-content-center align-items-center"
  >
    Add new target
    <img
      style="height: 20px"
      [src]="milkywayBadge"
      alt="add new astro target"
      class="pl-2"
    />
  </button>
</div>

<app-pagination
  (toggleAll)="onToggleList($event)"
  (paging)="onPageChange($event)"
></app-pagination>

<app-card-list
  [typeParams]="typeParams"
  [milkywayChecker]="milkywayChecker"
  [magnitudeRanges]="magnitudeRanges"
  [catalogue]="catalogue"
  [searchString]="searchString"
  [sliceEnd]="sliceEnd"
  [showAll]="showAll"
></app-card-list>
